
.gallery { 
	width: 920px;
	margin: 0 auto; 
} 

#container .gallery img { 
	max-width: 100%;
} 

@media only screen and (max-width: 767px) {

.gallery {
    width: 96%;
    margin: 0 auto;
  }
}

p {
    text-indent: 50px;
}


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 1px;
  border: 1px solid transparent;
}