/* CSS used here will be applied after bootstrap.css */
/* CSS used here will be applied after bootstrap.css */
.navbar-collapse {
  text-align:center;
  }
.navbar-nav {
    display:inline-block;
    float:none;
  }
  .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  border: 1px solid transparent;
}